<!-- reset-password-form.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Your Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form action="/reset-password/<%= userId %>" method="POST">
    <label for="newPassword">New Password:</label>
    <input type="password" name="newPassword" id="newPassword" required>
    <button type="submit">Reset</button>
  </form>
</body>
</html>
